# .NET Core
## Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Aa]rm64/

# Runtime files
*.dll
*.exe
*.pdb
*.tmp
*.user
*.suo
*.sln.docstates
*.vspscc
*.vsscc
*.vssscc

# Other
.DS_Store
.vscode/

# Package files
*.nupkg

# IDE files
.idea/
.vs/
.history/
